---
import AppBarDesktop from "./AppBarDesktop.astro";

let staticBar = Astro.props?.staticBar ?? false;
---

<div
  class={`hidden md:block ${staticBar ? "fixed z-[0]" : "bg-base-100 z-[99] sticky top-0"} w-full`}
>
  <AppBarDesktop />
</div>
<div
  class=`md:hidden w-full ${staticBar ? 'z-[0] fixed' : 'bg-base-100 sticky top-0'} flex flex-row items-end`
>
  <label for="appbar-drawer" class="btn-ghost p-1 rounded-md mt-4 ml-4">
    <img src="/img/icons/menu.svg" />
  </label>
</div>
