---
import AppBar from "../../components/AppBar/AppBar.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Blog">
  <AppBar />
  <main class="prose max-w-lg mx-auto">
    <h1>Blog</h1>
  </main>
</Layout>
