---
interface Props {
  info: Record<string, any>;
  href: string;
}

const { info, href } = Astro.props;
console.log(info);
---

<a href={href} class="card h-full w-full shadow-xl bg-base-200">
  <div class="card-body">
    <!--<h2 class="card-title font-bold text-3xl">{info.name}</h2>
<p>{info.description}</p>-->
  </div>
</a>
