---
import AppBar from "../../components/AppBar/AppBar.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Calculators | Rinaldo Lee">
  <AppBar />
  <main class="max-w-md py-16 md:py-32 px-4 md:px-16">
    <h1 class="text-5xl font-bold">Calculators</h1>
    
  </main>
</Layout>
